@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-eb-garamond: var(--font-eb-garamond);
  --font-oswald: var(--font-oswald);
  --font-italianno: var(--font-italianno);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  min-height: 100%;
}

body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-eb-garamond), serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}